/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* plstest
    Created on : 02-Feb-2017, 19:23:51
;;    Author     : PC
*/
body
{
    background-color:#062952;
    color: white;
}
nav
{
    padding-top: 10px;
    padding-bottom: 20px;
}
ul li a .homenav, .leaguenav, .worldnav
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
ul li a
{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}
ul li
{
    
    border-style:solid;
    border-color:#062952;
    box-shadow: 1px 2px 1px blue;
    margin-left:3em;
    list-style-type: none;
    display: inline;
}
ul #reglog
{
    float:right;
    padding-right: 50px;
}