
body
{
    background-color:#e6e6fa;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
}

article {
  width: 70%;
  border: 1px solid black;
  background-color: #cccccc;
  padding: 15px;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 22px
}

p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  font-family: 'Varela Round', sans-serif;
}


footer {
  width: 100%;
  border: 1px;
  background-color: #cccccc;
  font-size: 20px;
  padding: 30px
}

nav
{
    padding-top: 10px;
    padding-bottom: 20px;
}
ul li a .homenav, .leaguenav, .worldnav
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
ul li a
{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}
ul li
{
    
    border-style:solid;
    border-color:#062952;
    box-shadow: 1px 2px 1px blue;
    margin-left:3em;
    list-style-type: none;
    display: inline;
    background-color: Black;
    font-family: 'Varela Round', sans-serif;
}
ul #reglog
{
    float:right;
    padding-right: 50px;
}


.mainscreen {

}
